<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>PantosSendServlet</servlet-name>
		<servlet-class>com.servlet.PantosSendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<!-- <http-method>POST</http-method> --> 
		<servlet-name>PantosSendServlet</servlet-name>
		<url-pattern>/sendPts</url-pattern>
	</servlet-mapping> 
	
	<servlet>
		<servlet-name>PantosRecvServlet</servlet-name>
		<servlet-class>com.servlet.PantosRecvServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PantosRecvServlet</servlet-name>
		<url-pattern>/pantos</url-pattern>
	</servlet-mapping>
</web-app>
